#panel{
	position: fixed;
	width: 400px;
	min-height: 200px;
	z-index: 999;
	right: 0px;
	top: 60px;
	background: gainsboro;
}
#panel ul{
	list-style: none;
}
#panel ul li{
	list-style: none;
}
#panel ul li a{
	display: block;
	text-overflow: ellipsis;
}