#panel{
	position: fixed;
	width: 400px;
	min-height: 200px;
	z-index: 999;
	right: 0px;
	top: 60px;
	background: gainsboro;
}
#panel ul{
	list-style: none;
}
#panel ul li{
	list-style: none;
}
#panel ul li a{
	display: block;
	text-overflow: ellipsis;
}

/* 目录栏的样式 */
.div_toc{
	width: 90%;
	float: left;
	/*  */
	/* 
	padding: 20px;
	border-radius: 3px;
	width: 400px;
	height: 85%;
	min-height: 200px;
	z-index: 999;
	left: 10px;
	top: 70px;
	bottom: 20px;
	overflow-x: hidden;
	overflow: auto;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	float: right; */
	/* width: 400px;
	min-height: 200px;
	z-index: 999;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	overflow-x: hidden;
	left: 10px;
	top: 70px;
	border-radius: 3px;
	overflow: auto;
	height: 85%;
	bottom: 100px;
	float: left; */
	/* cursor: e-resize; */
}

.div_right_bar{
	width:10px; background: red; cursor: e-resize; float: left;
}

.toc{
	position: fixed;
	width: 400px;
	min-height: 200px;
	z-index: 999;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	padding: 20px;
	overflow-x: hidden;
	left: 10px;
	top: 70px;
	border-radius: 3px;
	overflow: auto;
	height: 85%;
	bottom: 100px;
	float: left;
}

